.transfer-ownership {
    
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__margin-right {
        margin-right: 5px;
    }
    
    &__inputs {
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        width: 70%;

        &--row {
            display: flex;
            margin-top: 5px;
        }
    }

    &__margin-left {
        margin-left: 5px;
    }

    &__loading {
        opacity: 0.5;
        pointer-events: none;
    }
}