.home {
    
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__inputs {
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        width: 70%;

        &--row {
            display: flex;
            margin-top: 5px;
        }
    }

    &__button {
        margin-left: 5px;
    }

    &__result {
        margin-top: 25px;
        border-radius: 10px;
        border: 1px solid rgba($color: black, $alpha: 0.4);
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 70%;
    }

    &__column {

        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 30px;
        height: 30px;

        &--5 {
            display: flex;
            flex-direction: column;
            width: 5%;
            line-height: 30px;
            height: 30px;
        }

        &--55 {
            display: flex;
            flex-direction: column;
            width: 55%;
            line-height: 30px;
            height: 30px;
        }

        &--60 {
            display: flex;
            flex-direction: column;
            width: 60%;
            line-height: 30px;
            height: 30px;
        }

        &--40 {
            display: flex;
            flex-direction: column;
            width: 40%;
            line-height: 30px;
            height: 30px;
        }

        &--25 {
            display: flex;
            flex-direction: column;
            width: 25%;
            line-height: 30px;
            height: 30px;
        }

        &--15 {
            display: flex;
            flex-direction: column;
            width: 15%;
            line-height: 30px;
            height: 30px;
        }

        &--20 {
            display: flex;
            flex-direction: column;
            width: 20%;
            line-height: 30px;
            height: 30px;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;

        &--title {
            font-weight: bold;
        }
    }

    &__loading {
        opacity: 0.5;
        pointer-events: none;
    }
}